.bottom-content__item__category__menu 
  %ul.bottom-content__item__category__menu__list.Category
    %li.bottom-content__item__category__menu__list__ladies.CategoryPart
      %a.bottom-content__item__category__menu__list__ladies__Atag{ href: "#"}
        基本ルールに関して
      %ul.bottom-content__item__category__menu__list__ladies__list.Ladies
        %li.bottom-content__item__category__menu__list__ladies__list__tops.LadiesCategoryPart
          %a.bottom-content__item__category__menu__list__ladies__list__tops__Atag{ href: "#"}
            詳細
          %ul.bottom-content__item__category__menu__list__ladies__list__tops__list.Tops
            %li.LadiesCategoryTopsPart
              %a{ href: "#"}
                セーフティエリアについて
            %li.LadiesCategoryTopsPart
              %a{ href: "#"}
                携行弾数について
            %li.LadiesCategoryTopsPart
              %a{ href: "#"}
                ゴーグルについて
            %li.LadiesCategoryTopsPart
              %a{ href: "#"}
                参加年齢について
            %li.LadiesCategoryTopsPart
              %a{ href: "#"}
                試射について
            %li.LadiesCategoryTopsPart
              %a{ href: "#"}
                禁止行為について
            %li.LadiesCategoryTopsPart
              %a{ href: "#"}
                ヒットについて
            %li.LadiesCategoryTopsPart
              %a{ href: "#"}
                夜戦について
    %li.bottom-content__item__category__menu__list__mens.CategoryPart
      %a{ href: "#"}
        フィールドガイド
      %ul.bottom-content__item__category__menu__mens.Mens
        %li.bottom-content__item__category__menu__list__mens__list__tops.MensCategoryPart
          %a{ href: "#"}
            スタート地点A～D
        %li.bottom-content__item__category__menu__list__mens__list__outer.MensCategoryPart
          %a{ href: "#"}
            フィールド障害物
        %li.bottom-content__item__category__menu__list__mens__list__pants.MensCategoryPart
          %a{ href: "#"}
            セーフティエリア
        %li.bottom-content__item__category__menu__list__mens__list__shoes.MensCategoryPart
          %a{ href: "#"}
            店舗